

  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        &nbsp; <i style="font-size: 30px;" class= "fas fa-shipping-fast">&nbsp; </i>
             <strong style="font-size: 20px;">MPP PROJECT</strong>
              <div class="form-group">

                <input type="text" class="form-control" >
              </div>
              <span class="fas fa-search search-icon"></span>
              
    </div>
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/addproduct">Login</a>
      
      <button routerLink="cart" class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>

  </nav>
</div>
  
  <div class="container d-flex">
    <div class="item">
        <a >
            <img style="width: 80px; margin-left: 100px; margin-top: 5px;"  src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            <h6 style="margin-left: 100px " >All products</h6>
        </a>
    </div>
    <div class="item">
        <a >
            <img  style="width: 80px; margin-left: 20px; margin-top: 5px;"  src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            <h6 style="margin-left: 20px ">Electronics</h6>
        </a>
    </div>
    <div class="item">
        <a >
            <img  style="width: 80px; margin-left: 20px; margin-top: 5px;"  src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            <h6 style="margin-left: 30px " >Fashion</h6>
        </a>
    </div>
    <div class="item">
        <a >
            <img style="width: 80px; margin-left: 20px; margin-top: 5px;" src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
            <h6 style="margin-left: 30px " >Jewllery</h6>
        </a>
    </div>
